* {
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        #722F37;
    color: white;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(255,255,255,0.2);
}

nav h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

nav ul li {
    border-radius: 30px;
    transition: all 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 0.6rem 1.4rem;
    display: block;
    border-radius: 30px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background: #ffffff;
    color: #222;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}