body{
    background: linear-gradient(to right, green, orange);
    font-family: system-ui, -apple-system, 'Times New Roman';
    margin: 0px;
}

main {
    margin: 0px 8px 0px 8px;
    font-size: 14pt;
}

nav {
    /* border-bottom: black;
    border-bottom-style:solid;
    border-bottom-width: 3px;
    border-radius: 100px; */

    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    display: flex;

    justify-content: space-between;
    /* align-items: center; */
}

nav h1{
    font-size: 35pt;
    display: flex;

    /* align-items: center; */
    /* border: black solid; */
    /* border-width: 1px; */
    margin-bottom: 20px;

    margin-left: 35px;
}

.bar{
    margin-bottom: 5px;
}

.hamburger{
    display: none;/*to be hidden by defualt*/
    flex-direction: column;
    width: 30px;
    height: 50px;
    justify-content: space-around;
    cursor: pointer;

    margin-top: 50px;/*should probably use top: 50px or sth*/
    margin-right: 50px;
    align-items: center;
}

.hamburger .bar{
    width: 60px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
}

/*hamburger animation (to "X")*/
.hamburger.active .bar:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.hamburger .active .bar:nth-child(2){
    opacity: 0;
}

.hamburger .active .bar:nth-child(3){
    transform: rotate(-45deg);
    position: relative;
    bottom: 8px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 25pt;

    align-items: center;

    display: flex;
    justify-content: right;
    margin-bottom: 0px;
    margin-top: 5px;
}

nav > ul > li{
    /*button*/
    background-color: green;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    padding: 15px 30px 15px 30px;/*top, right, bottom, left*/

}


nav > ul > li:hover{
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /*Smooth transition basically*/

    background-color: blue;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

nav ul li:hover a{
    color: white;
}

nav > ul > li > a{
    width: 200px;
    text-align: center;

    text-decoration: none;
    font-weight: bold;
    color: lightgoldenrodyellow;
}

@media only screen and (max-width: 760px){
    h2{
        text-align: center;
    }
}