* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("fruit_photo.jpg") center/cover no-repeat fixed;
    color: white;
}

main {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 1200px;
}

/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(255,255,255,0.2);
}

nav h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

nav ul li {
    border-radius: 30px;
    transition: all 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 0.6rem 1.4rem;
    display: block;
    border-radius: 30px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background: #ffffff;
    color: #222;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* examples */
#examples {
    display: flex;
    gap: 1rem;
}

#examples > div {
    flex: 1;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 1rem;
    transition: 0.3s ease;
}

#examples > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

#examples > div > span > li{ 
    list-style-type: none;
    text-align: center;
    font-size: 20pt;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#examples > div > ul > li{ 
    list-style: square;
}

#examples img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;
    object-fit: cover;
    height: 20%;
}

@media (max-width: 1024px) {
    #examples {
        flex-wrap: wrap;
    }

    #examples > div {
        flex: 1 1 45%;
    }
}

@media (max-width: 768px) {

    main {
        padding: 1rem;
    }

    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    #examples {
        flex-direction: column;
    }

    #examples > div {
        width: 100%;
    }

    #examples img {
        height: 30%;
    }
}